body {
    color: lightblue;
    
    font-family: sans-serif;
    text-align: center;
    background-image: url(./eyes.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}



    .music {
        position: absolute;
        bottom: 398px;
        left: 640px;
        
        
    }
    .linkMusica {
        position: absolute;
        bottom: 430px;
        right: 650px;
        padding: 8px 15px 10px 15px;
        background-color: rgb(29, 35, 41);
        border-radius: 7px;
    }

a {
    color: lightblue;
    
}

a {
    font-size: 25px;
    position: relative;
    bottom: -270px;
}

.vc {
    position: absolute;
    bottom: 500px;
    right: 720px;
    font-size: 25px;
   
    
    
    
}




h1 {
    font-size: 45px;
    position: relative;
    bottom: -400px;
}

h3 {
    font-size: 22px;
    position: relative;
    bottom: -50px;
}   

img {
    border-radius: 0 40px 0 40px;
    
}

.ring {
    border-radius: 0 0 0 0;
    position: absolute;
    top: 0px;
    bottom: 400px;
    left: 0px;
    right: 0px;
}


.me {
    position: absolute;
    left: 700px;
    top: 15px;
    border-radius: 40px 0 40px 0;}
    
.you {
    border-radius: 0 0 0 0;
    position: absolute;
    top: 0px;
    bottom: 400px;
    left: 0px;
    right: 850px;
    }

.sim {
    position: relative;
    bottom: -377px;
    padding: 8px 15px 10px 15px;
    background-color: rgb(29, 35, 41);
    border-radius: 7px;
}
.agr {
    position: relative;
    bottom: -370px;
    padding: 10px 15px 8px 15px;
    background-color: rgb(29, 35, 41);
    border-radius: 7px;
   
}
.z {
    color: black;
}
.ring {
   position: relative;
    bottom: -200px;
    
}

.mente {
    position: relative;
    bottom: -395px;
}


