body {
    background-color: rgb(11, 11, 27)
}
.editar {
    position: absolute;
    bottom: 362px;
    right: 745px;
    height: 70px; width: 240px;
    font-size: 30px;

    background-color: rgb(11, 11, 27);
    color: lightgray;
    border: solid; color: lightgray;
    border-radius: 5px;
}
p {
    position: absolute;
    bottom: 340px;
    right: 1000px;
    color: rgb(11, 11, 27);
    border: solid; width: 160px; height: 160px;
    border-color: lightgray;
    border-radius: 10px;
    padding: 20px;
}
.musicas {
    position: absolute;
    bottom: 450px;
    right: 745px;
    height: 70px; width: 240px;
    font-size: 30px;

    background-color: rgb(11, 11, 27);
    color: lightgray;
    border: solid; color: lightgray;
    border-radius: 5px;
}
.amigos {
    position: absolute;
    bottom: 450px;
    right: 500px;
    height: 70px; width: 240px;
    font-size: 30px;

    background-color: rgb(11, 11, 27);
    color: lightgray;
    border: solid; color: lightgray;
    border-radius: 5px;
}
.config {
    position: absolute;
    bottom: 362px;
    right: 500px;
    height: 70px; width: 240px;
    font-size: 30px;

    background-color: rgb(11, 11, 27);
    color: lightgray;
    border: solid; color: lightgray;
    border-radius: 5px;
}
.suporte {
    position: absolute;
    bottom: 362px;
    right:255px;
    height: 70px; width: 240px;
    font-size: 30px;

    background-color: rgb(11, 11, 27);
    color: lightgray;
    border: solid; color: lightgray;
    border-radius: 5px;

}
.bio {
    position: absolute;
    bottom: 170px;
    height: 120px; width: 400px;
    font-size: 30px;
    text-align: center;

    background-color: rgb(11, 11, 27);
    color: lightgray;
    border: solid; color: lightgray;
    border-radius: 5px;
}
.audio {
    position: absolute;
    bottom: 300px;
}


